.calculator {
padding: 10px;
border-radius: 10px;
height: 400px;
width: 380px;
margin: auto;
background-color: rgb(48, 52, 51);
}
.display-box{
    background-color: rgb(186, 207, 207);
    color: black;
    height: 60px;
    width: 335px;
}
.button{
    border:black;
    border-radius: 10px;
    width: 80px;
    height: 50px;
}